@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

#image {
    width: 10vw;
    border-radius: 50%;
}

#header {
    height: 25vh;
    background-color: #213691;
    display: flex;
}

#navigation {
    margin-top: 12vh;
    margin-left: 3vw;
    height: 6vh;
    width:35vw;
    display: flex;
    gap: 3vw;

}

#image-container {
    margin-top: 2vh;
    margin-left: 2vw;
}

.nav {
    color: rgb(0, 0, 0);
    font-size: 16px;
    color: #ffffff;
}

#button {
    margin-top: 10.5vh;
    margin-left: 35vw;
}

#button button {
    width: 10vw;
    height: 6.5vh;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #0e1a4f;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
